/* Reset some default styles */

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.table-container {
    margin-top: 20px;
}


/* Modified Table Styling */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Glassy effect */
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
    font-family: Arial, sans-serif;
}

th {
    background-color: #c7dddb;
    /* Updated color */
    font-weight: bold;
    color: #2b2929;
    /* Font color for header */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f0f0f0;
}