* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #d2f0f8, #c7e4df);
    background-size: cover;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(215, 238, 239);
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 60px;
    width: auto;
    height: auto;
}

.rotating-image {
    width: 100%;
    max-width: 400px;
    animation: rotate 120s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 16px;
    margin-right: 10px;
    white-space: nowrap;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

button[type="submit"] {
    background: #4c99af;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container a {
    margin-top: 20px;
    text-decoration: none;
    color: #4c99af;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.form-container a:hover {
    color: #4e4e4c;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}